In [1]:
import pandas as pd
import altair as alt

In [3]:
collisions = pd.read_csv("../data/preprocessed-colisions.csv")
 collisions.head()
# len(collisions)

115740

## Visualize the data

### Visualization 1

In [15]:
df1 = pd.DataFrame({'CRASH DATE': pd.to_datetime(collisions["CRASH DATE"])})
df1['day'] = df1['CRASH DATE'].dt.day_name()
df1['year'] = df1['CRASH DATE'].dt.year
df1 = df1.groupby(['day', 'year']).mean().reset_index(names=['day', 'year'])
df1

          day  year                    CRASH DATE
0      Friday  2018 2018-07-29 02:12:30.696496384
1      Friday  2020 2020-08-03 11:11:44.240765952
2      Monday  2018 2018-07-28 02:36:47.247796224
3      Monday  2020 2020-08-02 17:10:00.219860736
4    Saturday  2018 2018-07-31 02:46:59.922808320
5    Saturday  2020 2020-08-03 06:26:01.965641216
6      Sunday  2018 2018-07-31 19:48:08.555346944
7      Sunday  2020 2020-08-04 03:20:59.363957504
8    Thursday  2018 2018-08-01 02:59:26.032649472
9    Thursday  2020 2020-08-01 05:35:51.694304256
10    Tuesday  2018 2018-07-29 22:28:51.645569536
11    Tuesday  2020 2020-08-03 06:01:36.594427392
12  Wednesday  2018 2018-08-01 22:46:36.635329024
13  Wednesday  2020 2020-08-04 22:50:47.054571520

In [ ]:
chart1 = alt.Chart(df1).mark_bar().encode(
    x='year:O',
    y='counts:Q',
    color='year:N',
    column=alt.Column('day:N', title='Day of the Week', 
                            sort=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

)

chart1

alt.Chart(...)

## Visualization 3

In [ ]:
df3 = pd.DataFrame({'CRASH TIME': pd.to_datetime(collisions["CRASH TIME"]), 
                    'CRASH DATE': pd.to_datetime(collisions["CRASH DATE"])})

df3 = pd.DataFrame({'hour': (df3['CRASH TIME'].apply(lambda x: str(x.hour))),
                    'year': df3['CRASH DATE'].dt.year})

df3['hour'] = df3['hour'].apply(lambda x: int(x))

df3 = df3.groupby(['hour', 'year']).size().reset_index(name='counts')
df3.head()

/var/folders/_6/8p4ncq_d54d7m8sx_m9m5y0r0000gn/T/ipykernel_2459/2556979374.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df3 = pd.DataFrame({'CRASH TIME': pd.to_datetime(collisions["CRASH TIME"]),

   hour  year  counts
0     0  2018    1519
1     0  2020     800
2     1  2018     628
3     1  2020     423
4     2  2018     451

In [ ]:
alt.Chart(df3).mark_line().encode(
    x='hour:O',
    y='counts:Q',
    color='year:N'
)

alt.Chart(...)

## VISUALIZATION 5

In [42]:
df5 = pd.DataFrame({'datetime': pd.to_datetime(collisions["CRASH DATE"])})
df5 = df5.groupby(['datetime']).size().reset_index(name='collisions')
#check the collisions type of data
df5.dtypes
df5.head()

    datetime  collisions
0 2018-06-01         442
1 2018-06-02         300
2 2018-06-03         258
3 2018-06-04         371
4 2018-06-05         392

In [43]:
weather2018 = pd.read_csv("weather2018.csv")
weather2020 = pd.read_csv("weather2020.csv")
weather = pd.concat([weather2018, weather2020])
weather['datetime'] = pd.to_datetime(weather['datetime'])
weather.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,New York,2018-06-01,26.7,17.9,21.6,26.7,17.9,21.6,19.2,86.8,...,16.5,9,NaN,2018-06-01T05:27:08,2018-06-01T20:21:01,0.60,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
1,New York,2018-06-02,30.6,20.7,25.1,32.9,20.7,25.9,19.8,74.0,...,20.8,9,NaN,2018-06-02T05:26:43,2018-06-02T20:21:44,0.63,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
2,New York,2018-06-03,21.7,12.8,17.0,21.7,12.8,17.0,12.5,75.0,...,8.9,3,NaN,2018-06-03T05:26:20,2018-06-03T20:22:26,0.67,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
3,New York,2018-06-04,23.7,11.7,16.8,23.7,11.7,16.8,12.4,76.6,...,19.4,8,NaN,2018-06-04T05:25:59,2018-06-04T20:23:06,0.70,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
4,New York,2018-06-05,24.2,16.1,19.8,24.2,16.1,19.8,11.7,60.7,...,17.3,9,NaN,2018-06-05T05:25:40,2018-06-05T20:23:45,0.73,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417"

In [44]:
df5 = pd.merge(df5, weather, on='datetime')
df5.head()

,datetime,collisions,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,2018-06-01,442,New York,26.7,17.9,21.6,26.7,17.9,21.6,19.2,...,16.5,9,NaN,2018-06-01T05:27:08,2018-06-01T20:21:01,0.60,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
1,2018-06-02,300,New York,30.6,20.7,25.1,32.9,20.7,25.9,19.8,...,20.8,9,NaN,2018-06-02T05:26:43,2018-06-02T20:21:44,0.63,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
2,2018-06-03,258,New York,21.7,12.8,17.0,21.7,12.8,17.0,12.5,...,8.9,3,NaN,2018-06-03T05:26:20,2018-06-03T20:22:26,0.67,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
3,2018-06-04,371,New York,23.7,11.7,16.8,23.7,11.7,16.8,12.4,...,19.4,8,NaN,2018-06-04T05:25:59,2018-06-04T20:23:06,0.70,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417,7..."
4,2018-06-05,392,New York,24.2,16.1,19.8,24.2,16.1,19.8,11.7,...,17.3,9,NaN,2018-06-05T05:25:40,2018-06-05T20:23:45,0.73,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72505394728,72055399999,KLGA,KJRB,KNYC,F1417"

In [45]:
alt.Chart(df5).mark_point().encode(
    alt.X(alt.repeat("column"), type='quantitative'),
    alt.Y(alt.repeat("row"), type='quantitative'),
    color='year:Q'
).repeat(
    row = ['collisions'],
    column = ['temperature', 'humidity', 'wind_speed']
).properties(
    width=150,
    height=150
)

SchemaValidationError: '{'column': ['temperature', 'humidity', 'wind_speed'], 'row': ['collisions']}' is an invalid value for `repeat`.

'layer' is a required property

alt.RepeatChart(...)