In [91]:
import pandas as pd

def preprocessing(df: pd.DataFrame) -> pd.DataFrame:
    df = df.drop(df.columns[0], axis = 1)
    
    for col in df.columns: 
      if "_ATTRIBUTES" in col:
        df = df.drop(col, axis=1)
        
    df = df.groupby('DATE', as_index=False).mean() 
    df["WT"] = df.iloc[:, 9:].idxmax(axis=1)
    df.drop(df.columns[9:18], axis=1, inplace=True)

    return df

Weather2018 = preprocessing(pd.read_csv('W18.csv'))
Weather2020 = preprocessing(pd.read_csv('W20.csv'))
Weather = pd.concat([Weather2018, Weather2020], axis=0)

In [92]:
Weather

,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TOBS,WT
0,2018-06-01,1.6250,4.407229,0.0,0.0,20.200000,24.921429,17.371429,18.683333,WT01
1,2018-06-02,3.4875,5.644737,0.0,0.0,24.700000,29.330769,18.800000,21.825000,WT01
2,2018-06-03,5.0000,6.481333,0.0,0.0,18.033333,23.800000,12.353846,15.125000,WT01
3,2018-06-04,2.8875,13.701205,0.0,0.0,14.600000,20.700000,10.392308,10.750000,WT01
4,2018-06-05,3.4875,0.811538,0.0,0.0,19.100000,23.092857,11.500000,13.233333,WT01
...,...,...,...,...,...,...,...,...,...,...
117,2020-09-26,2.2750,0.051765,0.0,0.0,20.633333,24.557143,15.357143,16.560000,WT01
118,2020-09-27,2.1500,0.093976,0.0,0.0,22.033333,25.364286,17.892857,19.340000,WT01
119,2020-09-28,3.9750,1.518750,0.0,0.0,22.566667,26.064286,19.492857,20.400000,WT01
120,2020-09-29,3.5875,2.114286,0.0,0.0,21.566667,24.314286,18.492857,19.250000,WT01
121,2020-09-30,5.4750,39.028866,0.0,0.0,20.166667,22.735714,15.650000,15.850000,WT01