In [1]:
import pandas as pd

def preprocessing(df: pd.DataFrame) -> pd.DataFrame:
    df = df.drop([df.columns[0], "SNOW", "SNWD"], axis = 1)
    
    for col in df.columns: 
      if "_ATTRIBUTES" in col:
        df = df.drop(col, axis=1)
        
    df = df.groupby('DATE', as_index=False).mean() 
    df["WT"] = df.iloc[:, 7:].idxmax(axis=1)
    df.drop(df.columns[7:16], axis=1, inplace=True)

    df['DATE'] = pd.to_datetime(df['DATE'])
    df['day_of_week'] = df['DATE'].dt.day_name()
    df['weekend'] = df['day_of_week'].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)
    
    return df

Weather2018 = preprocessing(pd.read_csv('W18.csv'))
Weather2020 = preprocessing(pd.read_csv('W20.csv'))
Weather = pd.concat([Weather2018, Weather2020], axis=0)

In [15]:
Weather

,DATE,AWND,PRCP,TAVG,TMAX,TMIN,TOBS,WT,day_of_week,weekend
0,2018-06-01,1.6250,4.407229,20.200000,24.921429,17.371429,18.683333,WT01,Friday,0
1,2018-06-02,3.4875,5.644737,24.700000,29.330769,18.800000,21.825000,WT01,Saturday,1
2,2018-06-03,5.0000,6.481333,18.033333,23.800000,12.353846,15.125000,WT01,Sunday,1
3,2018-06-04,2.8875,13.701205,14.600000,20.700000,10.392308,10.750000,WT01,Monday,0
4,2018-06-05,3.4875,0.811538,19.100000,23.092857,11.500000,13.233333,WT01,Tuesday,0
...,...,...,...,...,...,...,...,...,...,...
117,2020-09-26,2.2750,0.051765,20.633333,24.557143,15.357143,16.560000,WT01,Saturday,1
118,2020-09-27,2.1500,0.093976,22.033333,25.364286,17.892857,19.340000,WT01,Sunday,1
119,2020-09-28,3.9750,1.518750,22.566667,26.064286,19.492857,20.400000,WT01,Monday,0
120,2020-09-29,3.5875,2.114286,21.566667,24.314286,18.492857,19.250000,WT01,Tuesday,0
121,2020-09-30,5.4750,39.028866,20.166667,22.735714,15.650000,15.850000,WT01,Wednesday,0